@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        color: $color-white;
        background-color: $color-primary;
        height: 100%;
        width: 100%;

        & img {
            width: 31%;
            margin: 40px auto 20px;
        }

        & h1 {
            width: 240px;
            margin: 10px auto;
            font-size: 19px;
            font-weight: bold;
        }

        & p {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.5;
            width: 90%;
            margin: 5px auto 35px;
        }
    }

}