:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;


  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(214, 214, 214);
}

button {
  text-decoration: none;
  font-weight: bold;
  border: 0;
  display: block;
  cursor: pointer;
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all .3s;
}

a {
  text-decoration: none;
  color: inherit;
}